// TODO: spinner
#statistics(ng-controller="StatisticsController")
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title {{ "STATISTICS.MONTHLY_APPOINTMENTS_STATISTICS" | translate }}
        .panel-body
          %canvas#monthly-appointments-chart(tc-chartjs chart-type="line" chart-data="appointmentsData" width="952" height="500")

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title {{ "STATISTICS.MONTHLY_EMPLOYEES_STATISTICS" | translate }}
        .panel-body
          %canvas#monthly-employees-chart(tc-chartjs chart-type="bar" chart-data="employeesData" width="952" height="500")

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title {{ "STATISTICS.MONTHLY_CUSTOMERS_STATISTICS" | translate }}
        .panel-body
          %canvas#monthly-customers-chart(tc-chartjs chart-type="bar" chart-data="customersData" width="952" height="500")
