// TODO: spinner
#statistics(ng-controller="StatisticsController")
  .panel-group(role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading#monthly-appointments-heading(role="tab")
        %h3.panel-title
          %a(data-toggle="collapse" href="#monthly-appointments-container" aria-expanded="true" aria-controls="monthly-appointments-container") {{ "STATISTICS.MONTHLY_APPOINTMENTS_STATISTICS" | translate }}
      #monthly-appointments-container.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="monthly-appointments-heading")
        .panel-body
          %canvas#monthly-appointments-chart(tc-chartjs chart-type="line" chart-data="appointmentsData" width="952" height="500")

    .panel.panel-default
      .panel-heading#monthly-employees-heading(role="tab")
        %h3.panel-title
          %a(data-toggle="collapse" href="#monthly-employees-container" aria-expanded="true" aria-controls="monthly-employees-container") {{ "STATISTICS.MONTHLY_EMPLOYEES_STATISTICS" | translate }}
      #monthly-employees-container.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="monthly-employees-heading")
        .panel-body
          %canvas#monthly-employees-chart(tc-chartjs chart-type="bar" chart-data="employeesData" width="952" height="500")

    .panel.panel-default
      .panel-heading#monthly-customers-heading(role="tab")
        %h3.panel-title
          %a(data-toggle="collapse" href="#monthly-customers-container" aria-expanded="true" aria-controls="monthly-customers-container") {{ "STATISTICS.MONTHLY_CUSTOMERS_STATISTICS" | translate }}
      #monthly-customers-container.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="monthly-customers-heading")
        .panel-body
          %canvas#monthly-customers-chart(tc-chartjs chart-type="bar" chart-data="customersData" width="952" height="500")

