#add-customer-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Signup", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title {{ "USER.ADD_A_CUSTOMER" | translate }}
      .modal-body(ng-controller="CreateCustomersController")
        %form{"ng-init" => "registrationForm = {}", "ng-submit" => "submitRegistration()", role: "form"}
          .form-group
            %label {{ "USER.EMAIL" | translate }}
            %input.form-control(name="email" ng-model="registrationForm.email" required="required" type="email")
          .form-group
            %label {{ "USER.FIRST_NAME" | translate }}
            %input.form-control(name="first_name" ng-model="registrationForm.first_name" required="required" type="text")
          .form-group
            %label {{ "USER.LAST_NAME" | translate }}
            %input.form-control(name="last_name" ng-model="registrationForm.last_name" required="required" type="text")
          .form-group
            %label {{ "USER.MOBILE_PHONE_NUMBER" | translate }}
            %phone#mobile-phone-number(name="mobile_phone_number" ng-model="registrationForm.mobile_phone_number")
          %button.btn.btn-primary.btn-lg(type="submit") {{ "ADD" | translate }}
