%div(ng-controller="CustomersController")

  %ng-include(src="'dashboard/customers/add_customer_modal.html'")
  %button#add-customer.btn.btn-primary(data-target="#add-customer-form" data-toggle="modal" type="button")
    {{ "USER.ADD_A_CUSTOMER" | translate }}

  %table#customers-table.table.table-striped(st-table="customersCollection" st-safe-src="customers")
    %thead
      %tr
        %th.id id
        %th.first-name.sortable(st-sort="first_name") {{ "USER.FIRST_NAME" | translate }}
        %th.last-name.sortable(st-sort="last_name") {{ "USER.LAST_NAME" | translate }}
        %th.email.sortable(st-sort="email") {{ "USER.EMAIL" | translate }}
    %tbody
      %tr(ng-repeat="customer in customersCollection")
        %td.id {{ customer.id }}
        %td.first-name {{ customer.first_name }}
        %td.last-name {{ customer.last_name }}
        %td.email {{ customer.email }}
