#add-employee-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Signup", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#signup-form.modal-title {{ "USER.ADD_AN_EMPLOYEE" | translate }}
      .modal-body(ng-controller="CreateEmployeesController")
        %form{"ng-init" => "registrationForm = {}", "ng-submit" => "submitRegistration()", role: "form"}
          .form-group
            %label {{ "USER.EMAIL" | translate }}
            %input.form-control(name="email" ng-model="registrationForm.email" required="required" type="email")
          .form-group
            %label {{ "USER.NAME" | translate }}
            %input.form-control(name="name" ng-model="registrationForm.name" required="required" type="text")
          %button.btn.btn-primary.btn-lg(type="submit") {{ "ADD" | translate }}
          //TODO: A bunch of things to be added later.
