%div(ng-controller="EmployeesController")

  %ng-include(src="'dashboard/employees/add_employee_modal.html'")
  %button#add-employee.btn.btn-primary(data-target="#add-employee-form" data-toggle="modal" type="button")
    {{ "USER.ADD_AN_EMPLOYEE" | translate }}

  %table#employees-table.table.table-striped(st-table="employees")
    %thead
      %tr
        %th.id id
        %th.first-name {{ "USER.FIRST_NAME" | translate }}
        %th.last-name {{ "USER.LAST_NAME" | translate }}
        %th.email {{ "USER.EMAIL" | translate }}
    %tbody
      %tr(ng-repeat="employee in employees")
        %td.id {{ employee.id }}
        %td.first-name {{ employee.first_name }}
        %td.last-name {{ employee.last_name }}
        %td.email {{ employee.email }}
