a { cursor: pointer; }

.alert {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  z-index: 1051; // sidebar z-index is 1000, modal form z-index is 1050
}

#dashboard-wrapper { margin-top: 50px; }

// NOTE: Fix to chosen returning 0px width when the selector
// is not visible in the first place. It's not pretty, but it
// solves the issue.
.chosen-container { min-width: 220px !important; }

// NOTE: Fix pickadate.js CSS possibly incompatibility with bootstrap
// modal
.picker--time {
  ul.picker__list {
    padding: 0.75em 0 0.2em;
    .picker__list-item {
      list-style: none;
      width: 100%;
      margin-left: 0em;
    }
    li:last-child { list-style: none; }
  }
}

#locales {
  li {
    list-style: none;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  .flag-icon { padding-left: 35px; }
}

// sortable table
th.sortable { cursor: pointer }
.st-sort-ascent:before { content: "\25B2"; }
.st-sort-descent:before { content: "\25BC"; }

// phone number input
.intl-tel-input {
  display: block !important; // Unfortunately
  ul.country-list {
    li { list-style: none; }
    li.country {
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
}

// Calendar
#zoom-buttons-container,
#appointments-calendar {
  margin-top: 15px;
}

input#calendar-date { background-color: #FFFFFF; }

.inner,
.text.major {
  font-weight: 700;
}

// Account
#edit-account-form { margin-bottom: 10px; }
.toggle-login-form { margin-bottom: 10px; }
