.alert {
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  z-index: 1001; // sidebar z-index is 1000
}

#dashboard-wrapper { margin-top: 35px; }

// NOTE: Fix to chosen returning 0px width when the selector
// is not visible in the first place. It's not pretty, but it
// solves the issue.
.chosen-container { min-width: 220px !important; }

// NOTE: Fix pickadate.js CSS possibly incompatibility with bootstrap
// modal
.picker--time {
  ul.picker__list {
    padding: 0.75em 0 0.2em;
    .picker__list-item {
      list-style: none;
      width: 100%;
      margin-left: 0em;
    }
    li:last-child {
      list-style: none;
    }
  }
}

#locales {
  li {
    list-style: none;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  .flag-icon {
    padding-left: 20px;
  }
}

