#signup-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Signup", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#signup-form.modal-title {{ "SESSION.SIGNUP" | translate }}
      .modal-body(ng-controller="SessionsController")
        %form{"ng-init" => "registrationForm = {}", "ng-submit" => "submitRegistration(registrationForm)", :role => "form"}
          .form-group
            %label {{ "USER.EMAIL" | translate }}
            %input.form-control(name="email" ng-model="registrationForm.email" required="required" type="email")
          .form-group
            %label {{ "USER.FIRST_NAME" | translate }}
            %input.form-control(name="first_name" ng-model="registrationForm.first_name" required="required" type="text")
          .form-group
            %label {{ "USER.LAST_NAME" | translate }}
            %input.form-control(name="last_name" ng-model="registrationForm.last_name" required="required" type="text")
          .form-group
            %label {{ "COMPANY.NAME_OF_YOUR_COMPANY" | translate }}
            %input.form-control(name="company_name" ng-model="registrationForm.company_name" required="required" type="text")
          .form-group
            %label {{ "USER.PASSWORD" | translate }}
            %input.form-control(name="password" ng-model="registrationForm.password" required="required" type="password")
          .form-group
            %label {{ "USER.PASSWORD_CONFIRMATION" | translate }}
            %input.form-control(name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" type="password")
          %button.btn.btn-primary.btn-lg{:type => "submit"} {{ "SESSION.SIGNUP" | translate }}
