#login-form.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Login", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#login-form.modal-title {{ "SESSION.SIGNIN" | translate }}
      .modal-body(ng-controller="SessionsController")
        %form{"ng-init" => "loginForm = {}", "ng-submit" => "submitLogin(loginForm)", :role => "form"}
          .form-group
            %label {{ "USER.EMAIL" | translate }}
            %input.form-control{:name => "email", "ng-model" => "loginForm.email", :required => "required", :type => "email"}
          .form-group
            %label {{ "USER.PASSWORD" | translate }}
            %input.form-control{:name => "password", "ng-model" => "loginForm.password", :required => "required", :type => "password"}

          %button.btn.btn-primary.btn-lg{:type => "submit"} {{ "SESSION.SIGNIN" | translate }}
