#wrapper(ng-controller="DashboardController")
  #sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a(href="#")
          Massage Guru
      %li
        %a(ui-sref="dashboard.appointments") {{ "DASHBOARD.MANAGE_YOUR_APPOINTMENTS" | translate }}
      %li
        %a(ui-sref="dashboard.customers") {{ "DASHBOARD.MANAGE_YOUR_CUSTOMERS" | translate }}
      %li
        %a(ui-sref="dashboard.employees") {{ "DASHBOARD.MANAGE_YOUR_EMPLOYEES" | translate }}

  #page-content-wrapper
    #navigations.pull-right
      %a#menu-toggle.btn.btn-default(href="#menu-toggle") Toggle Menu
      %button.btn.btn-danger#sign-out(ng-controller="SessionsController" ng-if="currentUser" ng-click="signOut()") {{ "SESSION.SIGNOUT" | translate }}
      %locales-dropdown
    #dashboard-wrapper.container-fluid
      .row
        #dashboard.col-lg-12(ui-view)

// TODO: move it somewhere, or just not use toggle at all
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });


