#wrapper(ng-controller="DashboardController")
  #sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a(href="#")
          Massage Guru
      %li
        %a{:href => "#"} {{ "DASHBOARD.MANAGE_YOUR_APPOINTMENTS" | translate }}
      %li
        %a{:href => "#"} {{ "DASHBOARD.MANAGE_YOUR_CUSTOMERS" | translate }}
      %li
        %a{:href => "#"} {{ "DASHBOARD.MANAGE_YOUR_EMPLOYEES" | translate }}

  #page-content-wrapper
    %a#menu-toggle.btn.btn-default(href="#menu-toggle") Toggle Menu
    %button.btn.btn-danger(ng-controller="SessionsController" ng-click="signOut()") {{ "SESSION.SIGNOUT" | translate }}
    .container-fluid
      .row
        #dashboard-container.col-lg-12(ui-view)

// TODO: move it somewhere, or just not use toggle at all
:javascript
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });


