%span.dropdown
  %button#language-dropdown.btn.btn-default.dropdown-toggle(aria-expanded=true data-toggle="dropdown" type="button")
    {{ "LANGUAGE" | translate }}
    %span.caret

  %ul#locales.dropdown-menu(aria-labelledby="language-dropdown" role="menu" ng-controller="LocaleController")
    %li(role="presentation" ng-click="changeLocale('en')")
      %h6.flag-icon.background.flag-icon.squared.flag-icon-us
      %span.language English
    %li(role="presentation" ng-click="changeLocale('id')")
      %h6.flag-icon.background.flag-icon.squared.flag-icon-id
      %span.language Bahasa Indonesia
    %li(role="presentation" ng-click="changeLocale('zh-CN')")
      %h6.flag-icon.background.flag-icon.squared.flag-icon-cn
      %span.language 简体中文
    %li(role="presentation" ng-click="changeLocale('zh-TW')")
      %h6.flag-icon.background.flag-icon.squared.flag-icon-tw
      %span.language 繁體中文
