%ng-include{:src => "'sessions/signin_modal.html'"}
%ng-include{:src => "'sessions/signup_modal.html'"}
%button.btn.btn-primary.btn-lg{"data-target" => "#login-form", "data-toggle" => "modal", :type => "button"}
  Login
%button.btn.btn-primary.btn-lg{"data-target" => "#signup-form", "data-toggle" => "modal", :type => "button"}
  Sign Up
